%table.table.table-striped
  %thead
    %tr
      %th
        Announcement
      %th
        Created
  %tbody
    - announcements.each do |annon|
      %tr
        %h3
          %td
            = link_to "#{annon.title}", announcement_path(annon.id), class: "list_color"
        %td
          = annon.decorate.creation
