.col-lg-12
  .form-inline.profile_scss
    .form-group
    .col-sm-2
      First name:
    .col-sm-10
      = profile.decorate.name_change
  %br
  .form-inline.profile_scss
    .form-group
    .col-sm-2
      Last name:
    .col-sm-10
      = profile.decorate.surname_change
  %br
  .profile_scss
    .form-inline.profile_scss
      .form-group
      .col-sm-2
        Phone number:
      .col-sm-10
        = profile.decorate.phone_change
  %br
