%h2
  %div{:style => "display:table-cell; vertical-align: middle"}
    = image_tag(current_user.avatar.url(:thumb))
  %div{:style => "display: table-cell; vertical-align: middle; padding-left: 10px;"}
    %span.bold
      = profile.first_name
      = profile.last_name
    %br/
    %span.small.text-light
      = user.name
    .right
      - if user.decorate.user_validation
        Edit profile
        %input.js-switch{ type: "checkbox" }
